<script type="text/javascript">
err_messages.add({
	'vm_name':'{translate::("Can not be empty. Name must begin with a letter / a-z / and not have any special symbols: -,.=%")}',
	'vm_size':'You need type «g» char after numbers',
	'vm_ram':'You need type «g» char after numbers',
});
</script>
<dialog id="bhyve-new" class="window-box">
	<h1>
		<span class="new">{translate::('Create Virtual Machine');?></span>
		<span class="edit">{translate::('Edit Virtual Machine');?></span>
	</h1>
	<h2>{translate::('Virtual Machine Settings');?></h2>
	<form class="win" method="post" id="bhyveSettings" onsubmit="return false;">
		<div class="window-content">
			<p class="new">
				<span class="field-name">{translate::('VM OS profile')}:</span>
				<select name="vm_os_profile">
					{loop="$os_types"}
						<optgroup label="{$value.os}">
							{loop="$value.items"}
								<option value="{$key}.{key1}">{$value1.name}</option>
							{/loop}
						</optgroup>
					{/loop}
				</select>
			</p>
			<p>
				<span class="field-name">{translate::('Virtual Machine name')}:</span>
				<input type="text" name="vm_name" value="" pattern="[^0-9]{1}[a-zA-Z0-9]{1,}" required="required" class="edit-disable" />
			</p>
			<p class="new">
				<span class="field-name">{translate::('VM template (cpu, ram, hdd)')}:</span>
				<select name="vm_packages" onchange="clonos.onChangePkgTemplate(this,event);">
					<option value="0"></option>
					{loop="$vm_res"}
					<option value="{$val['id']}" title="{$val['description']}">
						<strong>{$val['name']}</strong>
						{$val['text']}
					</option>
					{/loop}
				</select>
				<script type="text/javascript">clonos.vm_packages_new_min_id={$min_id};</script>
			</p>
			<p>
				<span class="field-name">{translate::('VM CPUs')}:</span>
				<span class="range">
					<input type="range" name="vm_cpus" class="vHorizon" min="1" max="16" value="1" style="margin:6px 0;" id="rngCpus" oninput="rngCpusShow.value=rngCpus.value" />
					<input type="text" disabled="disabled" id="rngCpusShow" value="1" name="vm_cpus_show" />
					<!-- input type="text" name="vm_cpus" value="" pattern="[0-9]+" placeholder="1" required="required" / -->
				</span>
			</p>
			<p>
				<span class="field-name">{translate::('VM RAM')}:</span>
				<input type="text" name="vm_ram" value="" pattern="^[0-9]+\s*(g|gb|mb|m|t|tb)$" placeholder="1g" required="required" />
			</p>
			<p class="new">
				<span class="field-name">{translate::('VM Image size')}:</span>
				<input type="text" name="vm_size" value="" pattern="^[0-9]+(g|gb|t|tb)$" placeholder="10g" required="required" class="edit-disable" />
			</p>
			<p>
				<span class="field-name">{translate::('Attached boot ISO image')}:</span>
				<select name="vm_iso_image">
					<option value="-2"></option>
					<option value="-1" selected>Profile default ISO</option>
					{loop="$media_iso_list"}
					<option value="{$value[0]}">{$value[1]}.{$value[2]}</option>
					{/loop}
				</select>
			</p>
			<p>
				<span class="field-name">{translate::('VNC IP address')}:</span>
				<input type="radio" name="bhyve_vnc_tcp_bind" value="127.0.0.1" id="vncip0" checked="checked" class="inline"><label for="vncip0">127.0.0.1</label></radio>
				<input type="radio" name="bhyve_vnc_tcp_bind" value="0.0.0.0" id="vncip1" class="inline"><label for="vncip1">0.0.0.0</label></radio>
			</p>
			<p>
				<span class="field-name">{translate::('VNC PORT')}:</span>
				<input type="text" name="vm_vnc_port" value="" placeholder="0" maxlength="5" />
			</p>
			<p>
				<span class="field-name">{translate::('VNC Password')}:</span>
				<input type="password" name="vm_vnc_password" value="" placeholder="3-20 symbols" pattern=".{3,20}" maxlength="20"></input> <small>— {translate::('use to log in VNC console'}</small>
			</p>
<!--			<p>
				<span class="field-name">{translate::('CD-ROM ISO')}:</span>
				<select name="cd-rom">
					<option value="profile">profile</option>
				</select>
			</p>
-->			<p>
				<span class="field-name">{translate::('Net Interface')}:</span>
				<!-- <input type="radio" name="interface" value="auto" id="rint0" checked="checked" class="inline"><label for="rint0">auto</label></radio> -->
				<select name="interface">
					<option value="auto">auto</option>
					{loop="$ifs"}
						<option value="{$value}">{$value}</option>
					{/loop}
				</select>
			</p>
		</div>
	</form>
	<div class="buttons">
		<input type="button" value="{translate::('Create')}" class="new button ok-but" />
		<input type="button" value="{translate::('Save')}" class="edit button ok-but" />
		<input type="button" value="{translate::('Cancel')}" class="button red cancel-but" />
	</div>
</dialog>
